@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Add a new Treat!</h2>

@using (Html.BeginForm())
{
    <h6>@Html.LabelFor(model => model.Name, "Treat Name:")</h6>
    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})

    <h6>@Html.LabelFor(model => model.Calories, "Total Calories:")</h6>
    @Html.TextBoxFor(model => model.Calories, new {@class = "form-control"})

    <p>@Html.LabelFor(model => model.Rating)</p>
    <select id="Rating" name="Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <p>@Html.Label("Select Flavor Type")</p>
    @Html.DropDownList("FlavorId")<br>

    <input type="submit" value="Add new Treat" class="btn btn-info" />
}
<p>@Html.ActionLink("Show All Treats", "Index", new {}, new {@class = "html-links"})</p>