@{
  Layout = "_Layout";
}

@using Bakery.ViewModels

@model RegisterViewModel

<h2>Register a New User</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <h6>@Html.LabelFor(user => user.Email)</h6>
    @Html.TextBoxFor(user=> user.Email, new {@class = "form-control"})

    <h6>@Html.LabelFor(user=> user.Password)</h6>
    @Html.PasswordFor(user=> user.Password, new {@class = "form-control"})

    <h6>@Html.LabelFor(user=> user.ConfirmPassword)</h6>
    @Html.PasswordFor(user=> user.ConfirmPassword, new {@class = "form-control"})

    <input type="submit" value="Register" class="btn btn-info" />
}